.card{
    border: 5px solid #303030;
    border-radius: 8px;

    min-height: 10px;
    padding: 35px;
    text-align: left;
}
.profile{
    border-radius: 100px;
    width: 120px;
    height: 120px;
    margin-bottom: -5px;
}