.App {
  background-color: white;
  text-align: center;
  color:#303030 ; 
  font-family: 'Roboto', sans-serif;

}
.container {
  width: 500px;
  margin: 0 auto;
}
h1{
  font-size: 40px ;
  font-size: bold;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 20px;
}
h2{
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  text-align: left;
}
h3{
  font-size: 15px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: left;
}
h4{
  font-size: 13px;
  font-weight: 500;
  margin-top: 0;
}

.alignRight{
  margin-left: auto;
  margin-right: 0;
}
.rowContainer{
  display: flex;
  transition-duration: 0.2s;
}

.divider{
  width: 100%;
  height: 5px;
  background-color: #303030;
  border-radius: 2px;
}
.point{
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #FE8BC2;
  margin-right: 15px;
  margin-top: 6px;
  transition: 0.2s ease-in-out; 
}
.accent{
  width: 5px;
  min-height: 10px;
  margin-top: 0px;
  margin-right: 15px;
}
#out:hover  #point{
  background-color: #FE8BC2;
  height:85% ;

}
#skillOut:hover #accent{
  width:10px ;
}